<html lang="en" xmlns="http://www.thymeleaf.org">
  <head>
    <style>
      body {text-align: center;}
      title {text-align: center;}
      body {background-color: rgb(158, 255, 158);}
    </style>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Assignment1</title>
  </head>
  <body>
    <h1>Stock X</h1>
    <P>Shop with stock X Today we have many different clothings of your desires from stone island to Canada goose shop today</P>
    <h3>Click link</h3>
    <a href="/StockX">Enter site </a>
  </body>
</html>
